# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Figures folder
figures/

*.png
# MATLAB files
*.mat

~$*.xlsx    # Excel temporary files
~$*.xls     # Excel temporary files
~$ICNs_v2.xlsx

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp